html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}

/***********************
 * Page
 */

* {
	box-sizing: border-box;
}
html {
	font-size: 15px;
}
@media (max-width: 480px) {
	html {
		font-size: 14px;
	}
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #555;
}
p {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 10px;
	color: #555;
	font-weight: 300;
}
.header {
	background-color: #536dfe;
	background-image: url('purple-lines-2.png');
	background-size: 100%;
	padding: 100px 0;
    text-align: center;
}
.branding {
	font-size: 2.9rem;
	font-weight: 400;
	margin: 0 0 25px 0;
    color: #fff;
}
.tagline {
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 300;
    color: #fff;
}
.logo {
	width: 80px;
	margin-bottom: 15px;
}
.btn-download {
	display: block;
	width: 200px;
	margin: 0 auto;
	border-radius: 4px;
	padding: 20px 0;
	background-color: none;
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
	border: 1px solid #fff;
	outline: none;
}
.btn-download:hover {
	background-color: #fff;
	color: #2a2730;
}
.wrapper {
	margin: 0 auto;
	width: 60%;
	position: relative;
}
@media (max-width: 1200px) {
	.wrapper {
		width: 55%;
	}
}
@media (max-width: 980px) {
	.wrapper {
		width: 75%;
	}
}
@media (max-width: 767px) {
	.wrapper {
		width: 85%;
	}
}
h3 {
	font-size: 1.5rem;
	color: #2a2730;
	font-weight: 600;
	margin-top: 40px;
}
.section {
	margin-top: 30px;
	border-top: 1px solid #ececec;
	padding-top: 15px;
}
.section .title {
	color: #333;
	font-size: 1.6rem;
	font-weight: 600;
}
.section .method {
	font-size: 1.2rem;
	margin-left: 30px;
	color: #777;
}
.overview,
.section .description {
	font-size: 1.2rem;
	margin-top: 20px;
}
@media (max-width: 480px) {
	.section .title {
		display: block;
		margin-bottom: 15px;
	}
	.section .method {
		margin-left: 0px;
	}
}
.btn {
	font-size: 1rem;
	border: 1px solid #ddd;
	color: #666;
    background: #E6E6E6;
	font-size: 300;
	padding: 10px 20px;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
}
.btn:hover {
	background-color: #ddd;
}
.btn.btn-primary {
	background-color: #536dfe;
	color: #fff;
	border-color: #4F67F1;
}
.btn.btn-primary:hover {
	background-color: #4F67F1;
}
.btn.btn-alert {
	background-color: #e51c23;
	color: #fff;
	border-color: #D81B22;
}
.btn.btn-alert:hover {
	background-color: #D81B22;
}
.btn.btn-success {
	background-color: #259b24;
	color: #fff;
	border-color: #228A21;
}
.btn.btn-success:hover {
	background-color: #228A21;
}
.btn.btn-warning {
	background-color: #ff9800;
	color: #fff;
}
.markup {
	background-color: rgba(0,0,0,.015);
	border-left: 6px solid #DEDEDE;
	font-size: 1.1rem;
    color: #666;
    font-weight: 600;
	margin-top: 20px;
	word-break: normal;
	white-space: normal;
	padding: 20px;
	line-height: 20px;
}
.markup .group {
	margin-bottom: 15px;
}
.markup .group:last-child {
	margin-bottom: 0;
}
.markup code {
	font-family: monospace;
	display: block;
	color: #555;
	font-weight: 400;
	font-size: .95rem;
}
.markup .comment {
	color: #AFAFAF;
}
.markup .comment:first-child {
	margin-top: 0;
}
.markup .tag,
.solo-tag {
	font-family: monospace;
	color: #000080
}
.markup .class,
.solo-class {
	font-family: monospace;
	color: #d44950;
}
.markup .tag {
	color: #4f9fcf;
}
.solo-class,
.solo-tag {
	background-color: #f7f7f9;
	border-radius: 3px;
	font-size: 14px
}
@media (max-width: 480px) {
	.markup {
		border-left: 4px solid #DEDEDE;
		margin-top: 20px;
		padding: 10px 15px;
	}
	.markup code {
		font-size: 1rem;
	}
}
.demo-table {
    width: 100%;
    max-width: 100%;
	border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 30px;
}
.demo-table th {
	width: 300px;
	font-size: 2rem;
	font-weight: 300;
	background-color: #f8f8f8;
	padding: 15px 0;
	border: 1px solid #ddd;
}
.demo-table td {
	text-align: center;
	border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.footer {
	text-align: center;
	background-color: #2a2730;
	margin-top: 20px;
	padding: 30px 0;
}
.footer .footer-copy {
	color: #ccc;
	font-weight: 300;
}
.footer .footer-copy a {
	color: #ccc;
}